html, body {
    height:90%;
}

blockquote {
    padding: 5px 5px 5px 40px;
    margin: 0px;
    border-left: 5px solid #888;
}

blockquote pre {
    margin: 0px;
}

pre {
    padding: 5px;
    margin: 5px;

    background-color: #EEE;

    white-space: pre-wrap;
}

pre code {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

code {
    font-family: 'DejaVu Sans Mono', 'Consolas', 'Courier New';
    padding: 0px 3px;
}

#container {
    height:95%;
}

#header h1,
#header .desc {
    display:inline;
}

#source {
    width:49%;
    height:100%;
    display:inline;
    margin:0px;

    border:1px solid #000;
}

#target {
    width:49%;
    height:99%;
    float:right;
    margin:0px;

    overflow:auto; 
    border:1px solid #000;
}

#clear {
    clear:both;
}
